.cal-layout {
  width : 100%;
  height: 100%;
  background: white;

  .cal-header {
    color     : white;
    font-size : 24px;
    background: linear-gradient(20deg, #0081ff, #1cbbb4)
    // background: linear-gradient(20deg, #9000ff, #5e00ff)
  }

  .mid-content {
    height  : 500px;
    overflow: scroll;
    
    .left {
      background: white;
    }
    
    .right {
      padding: 10px;
      // margin: 5px 5px 0 5px;
      // background: white;
      // background: hotpink;
    }
  }

}